body {
  background-color: #000000;
}

#root {
  max-width: 600px;
  margin: 0 auto;
}

.button-container {
  width: 20%;
  display: flex;
  justify-content: space-between;
}

button.btn-danger {
  width: 36px;
}